<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HY64V437PL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HY64V437PL');
</script>
<!-- Adscence-->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1628799234789004"
     crossorigin="anonymous"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1628799234789004"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-gw-3+1f-3d+2z"
     data-ad-client="ca-pub-1628799234789004"
     data-ad-slot="2875612952"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Prediction</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='diabetes-favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <!-- Website Title -->
    <div class="container">
        <h2 class="container-heading"><span class="heading-font">Diabetes Predictor</span></h2>
        <div class="description">
            <br>
            <p>A Machine Learning based Diabetes Prediction Web App.</p>
        </div>
    </div>

    <!-- Text Area -->
    <div class="ml-container">
        <form action="{{ url_for('predict') }}" method="POST">
            <input class="form-input" type="text" name="pregnancies" placeholder="Pregnancies eg. 0,1,2" required><br>
            <input class="form-input" type="text" name="glucose" placeholder="Glucose (mg/dL) eg. 80" required><br>
            <input class="form-input" type="text" name="bloodpressure" placeholder="Blood Pressure (mmHg) eg. 80" required><br>
            <input class="form-input" type="text" name="skinthickness" placeholder="Skin Thickness (mm) eg. 20" required><br>
            <input class="form-input" type="text" name="insulin" placeholder="Insulin Level (IU/mL) eg. 80" required><br>
            <input class="form-input" type="text" name="bmi" placeholder="Body Mass Index (kg/m²) eg. 23.1" required><br>
            <input class="form-input" type="text" name="dpf" placeholder="Diabetes Pedigree Function eg. 0.52" required><br>
            <input class="form-input" type="text" name="age" placeholder="Age (years) eg. 34" required><br>

        <input type="submit" class="my-cta-button" value="predict">
        </form>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="contact">
            <a href="https://www.linkedin.com/in/rishabh-dwivedi-28737b1a0" target="_blank"><i
                    class='bx bxl-linkedin contact-icon'></i></a>
            <a href="https://github.com/Rishabh062" target="_blank"><i
                    class='bx bxl-github contact-icon'></i></a>
            <a href="https://twitter.com/Rishabh07147212" target="_blank"><i
                    class='bx bxl-twitter contact-icon'></i></a>

        </div>
        <p class="footer-description">Made with ❤️ by Rishabh Dwivedi </p>
    </div>


</body>

</html>
